<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:p1="http://schemas.android.com/apk/res/android"
    p1:orientation="vertical"
    p1:layout_width="match_parent"
    p1:layout_height="match_parent"
    p1:layout_gravity="center_vertical|center_horizontal"
    p1:id="@+id/linearLayout1"
    p1:background="@drawable/LVBackground">
    <LinearLayout
        p1:orientation="vertical"
        p1:layout_width="match_parent"
        p1:layout_height="match_parent"
        p1:layout_centerInParent="true"
        p1:layout_margin="20dp"
        p1:gravity="center_horizontal">
        <LinearLayout
            p1:orientation="horizontal"
            p1:minWidth="25px"
            p1:minHeight="25px"
            p1:layout_width="match_parent"
            p1:layout_height="0dp"
            p1:id="@+id/linearLayout3"
            p1:layout_weight="2">
            <ImageView
                p1:text="Liceo Virtual"
                p1:textAppearance="?android:attr/textAppearanceLarge"
                p1:layout_width="wrap_content"
                p1:layout_height="match_parent"
                p1:id="@+id/textView1"
                p1:gravity="center"
                p1:layout_weight="1"
                p1:fontFamily="sans-serif-medium"
                p1:capitalize="characters"
                p1:textAllCaps="true"
                p1:ellipsize="none"
                p1:textAlignment="center"
                p1:src="@drawable/LVWhiteIcon" />
        </LinearLayout>
        <LinearLayout
            p1:orientation="horizontal"
            p1:minWidth="25px"
            p1:minHeight="25px"
            p1:layout_width="match_parent"
            p1:layout_height="0dp"
            p1:id="@+id/linearLayout2"
            p1:gravity="center_horizontal"
            p1:layout_weight="3">
            <Button
                p1:text="Trivia"
                p1:onClick="onClickTrivia"
                p1:id="@+id/btnTrivia"
                p1:background="@drawable/LVMenuBtn"
                p1:layout_width="wrap_content"
                p1:textColor="#000000"
                p1:layout_height="match_parent"
                p1:layout_marginTop="50sp"
                p1:layout_marginBottom="50sp" />
            <Button
                p1:text="Ranking"
                p1:id="@+id/btnRanking"
                p1:background="@drawable/LVMenuBtn"
                p1:layout_width="wrap_content"
                p1:textColor="#000000"
                p1:layout_height="match_parent"
                p1:layout_marginTop="50sp"
                p1:layout_marginBottom="50sp"
                p1:layout_marginLeft="20dp" />
        </LinearLayout>
        <LinearLayout
            p1:orientation="horizontal"
            p1:minWidth="25px"
            p1:minHeight="25px"
            p1:layout_width="match_parent"
            p1:layout_height="0dp"
            p1:id="@+id/linearLayout4"
            p1:layout_weight="1"
            p1:gravity="center"
            p1:weightSum="4">
            <Button
                p1:text="Cerrar Sesión"
                p1:id="@+id/btnCerrarSesion"
                p1:background="@drawable/LVMenuBtn"
                p1:layout_width="0dp"
                p1:textColor="#000000"
                p1:layout_height="88.7dp"
                p1:layout_weight="1" />
        </LinearLayout>
    </LinearLayout>
</RelativeLayout>